[packages]
python-dotenv = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-apscheduler = "*"
sendgrid = "*"
flask-mail = "*"
geopy = "*"
honcho = "*"
gunicorn = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-oauthlib = "*"
requests = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
pillow = "*"
vonage = "*"
africastalking = "*"
sendchamp = "*"
httpx = "*"
twilio = "*"
sqlalchemy = "*"
scikit-learn = "*"
numpy = "*"
faker = "*"

[dev-packages]
