[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-apscheduler = "*"
sendgrid = "*"
flask-mail = "*"
geopy = "*"
honcho = "*"
gunicorn = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-oauthlib = "*"
requests = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
